@page "/overview/cloud/cloud-platform"
@attribute [Page]
@attribute [PageMetadata(Title = "Cloud Platform")]
@inherits PageMetadataBase

<h1>@Localizer["Cloud Platform"]</h1>

<p>
    @Localizer["The Cloud Platform is the entry point for accessing your Game Platform. Clicking on the Account tab will give you an Overview of your Game Platform. The Account page includes links to the public URLs."]
</p>

<img class="--full-width" src="/images/Overview/Cloud/Account-Details.png" 
     alt="Show the Account Details for the Cloud Platform, displays the UserId, Email, and Links to the Users Game Platform." />

