@page "/account/overview"
@attribute [Page]
@attribute [PageMetadata(Title = "Account Overview")]
@inherits PageMetadataBase

<h1>@Localizer["Account Overview"]</h1>

<p>
    @Localizer["This section will help guide you through the Platform Account, from Account Registration to Removing your Account from the Platform. The Account is the main Identity of a User on the Platform, allowing for a User to access different parts of the platform, and including a central location for Profile management."]
</p>
