@using Website.Shared.Components.NavTreeView
@using Website.Shared.Components.NavTreeView.Model
@using Website.Localization
@using Website.Localization.Api

@* <div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Website</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div> *@

<MudNavMenu>
    @foreach (var node in NavigationTreeView.Children)
    {
        <NavTreeView Root="node"
                     OnNodeClicked="HandleNodeClicked" />
    }

</MudNavMenu>


