@page "/2d/main"
@attribute [Page(Title = "2D")]
@inherits PageMetadataBase

<h1>@Localizer["2D"]</h1>

<p>
    @Localizer["This section goes over how to create 2D graphics in the Game Development Platform."]
</p>

<ExpandThisSection Path="@this.PageMetadata.Route" />